@font-face {
    font-family: "Canela-Light";
    font-display: block;
    src: url("/fonts/Canela-Light.eot");
    src: url("/fonts/Canela-Light?#iefix") format("embedded-opentype"), url("/fonts/Canela-Light.woff") format("woff"), url("/fonts/Canela-Light.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Canela-Thin";
    font-display: block;
    src: url("/fonts/Canela-Thin.eot");
    src: url("/fonts/Canela-Thin?#iefix") format("embedded-opentype"), url("/fonts/Canela-Thin.woff") format("woff"), url("/fonts/Canela-Thin.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Canela-LightItalic";
    font-display: block;
    src: url("/fonts/Canela-LightItalic.eot");
    src: url("/fonts/Canela-LightItalic?#iefix") format("embedded-opentype"), url("/fonts/Canela-LightItalic.woff") format("woff"), url("/fonts/Canela-LightItalic.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Sailec-Regular";
    font-display: block;
    src: url("/fonts/Sailec-Regular.eot");
    src: url("/fonts/Sailec-Regular?#iefix") format("embedded-opentype"), url("/fonts/Sailec-Regular.woff") format("woff"), url("/fonts/Sailec-Regular.ttf") format("truetype");
    font-style: normal;
}